page-ver-detalles {
    h1 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }
    
    img {
        height: 200px;
        width: auto;
        margin: auto;
        display: block;
    }
}
