page-olvidarcontraceña {
    .icono{
        position: relative;
        font-size: 80px;
        top: 0ox;
        left: 120px;
    }
    .boton{
        position: relative;
        top: 30px;
        background-color: coral;
    }
}
